<p-toast position="bottom-right"></p-toast>
<div class="p-card">
    <div class="card-header">

        <p-toolbar class="pToolbar">
            <ng-template pTemplate="left">
                <button pButton pRipple label="{{'New' | translate}}" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUser(item)" [disabled]="!selectedUsers || !selectedUsers.length" pTooltip="Delete Users" tooltipPosition="bottom"></button>
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>

                        <input class="search" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search by Name" />
                        

                    </span>
                </div>
            </ng-template>
            
            <!-- <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help my-2"></button>
            </ng-template> -->
        </p-toolbar>
    </div>
    <div class="card-body">
        <p-table #dt [value]="userList" styleClass="p-datatable-customcss" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedUsers" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]" responsiveLayout="stack"[globalFilterFields]="['userName',]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 100px;">{{'Name' | translate }}
                        <!-- {{'Name' | translate }} -->
                        <p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
                    </th>
                    <th style="width: 150px;">{{'Email' | translate}}
                        <!-- {{'Email' | translate}} -->
                    </th>
                    <th style="width: 100px;">{{'Contact' | translate}}

                        <!-- {{'Contact' | translate}} -->
                    </th>
                    <th style="width: 80px;">{{'City' | translate}}
                        <p-columnFilter type="text" field="city" display="menu"></p-columnFilter>
                    </th>
                    <th style="width: 100px;">{{'Pincode' | translate}}
                        <p-columnFilter type="text" field="pinCode" display="menu"></p-columnFilter>
                    </th>
                    <th style="width: 100px;">{{'Action' | translate}} </th>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td ng-repeat="item in item"><span class="p-column-title"><i class="pi pi-user"></i></span>
                        <span *ngIf="item.userName">{{item.userName}}</span>
                        <span *ngIf="!item.userName">-</span>
                        </td>
                    <td ng-repeat="item in item"><span class="p-column-title"><i class="pi pi-envelope"></i></span>
                        <span *ngIf="item.email">{{item.email}}</span>
                        <span *ngIf="!item.email">-</span></td>
                    <td ng-repeat="item in item"><span class="p-column-title"><i class="pi pi-phone"></i></span>
                        <span *ngIf="item.contact">{{item.contact}}</span>
                        <span *ngIf="!item.contact">-</span>
                        </td>
                    <td ng-repeat="item in item">
                        <span *ngIf="item.city">{{item.city}}</span>
                        <span *ngIf="!item.city">-</span>
                    </td>
                    <td ng-repeat="item in item"><span class="p-column-title"><i class="pi pi-map-marker"></i></span>
                        <span *ngIf="item.pinCode">{{item.pinCode}}</span>
                        <span *ngIf="!item.pinCode">-</span></td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editUser(item)" pTooltip="Edit User" tooltipPosition="left"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(item)" pTooltip="Delete User" tooltipPosition="left"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" >
                <tr>
                    <td colspan="7" class="p-text-center">
                       <span>{{'No records found' | translate}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="userDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" header="User Configuration" [modal]="true">
    <app-user-form [user]="user" *ngIf="userDialog" 
    (saveEvent)="fnSaveUser($event)"></app-user-form>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>