<div class="p-card dishMenuWrapper">
  <div class="p-grid">
    <div class="p-col-12 p-md-8 p-lg-8">
      <p-dataView
        #dv
        [value]="dishes"
        [paginator]="false"
        [rows]="9"
        filterBy="name"
        [sortField]="sortField"
        [sortOrder]="sortOrder"
        layout="list"
      >
        <ng-template pTemplate="header">
          <div class="p-d-flex p-m-flex-column p-flex-md-row">
            <button
              (click)="onCategoryFilter('All')"
              pButton
              type="button"
              [ngClass]="
                selCategory === 'All'
                  ? 'p-button-primary'
                  : 'p-button-secondary'
              "
              class="p-button-sm p-mr-2 p-mb-1"
            >
              All
            </button>
            <p-button (click)="showBasicDialog()" style="height: 44px;" label="Click more"></p-button>
            <p-dialog header="Dish Category" [(visible)]="displayBasic" [style]="{width: '50vw'}">
              <ng-container *ngFor="let item of dishCategory; let i = index">
                <!-- <p-tag styleClass="p-mr-2" severity="success" [value]="item.value"></p-tag> -->
                <button
                  (click)="onCategoryFilter(item.value);displayBasic=false"
                  pButton
                  type="button"
                  [ngClass]="
                    selCategory === item.value
                      ? 'p-button-primary'
                      : 'p-button-secondary'
                  "
                  [label]="item.value"
                  class="p-button-sm p-mr-2 p-mb-1"

                ></button>
              </ng-container>
                <!-- <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
                </ng-template> -->
            </p-dialog>
          
          
            
          </div>
          <hr />
          <div class="p-d-flex p-m-flex-column p-flex-md-row">
            <p-dropdown
              [options]="sortOptions"
              [(ngModel)]="sortKey"
              placeholder="Sort By Price"
              (onChange)="onSortChange($event)"
              styleClass="p-mb-2 p-mb-md-0 p-mr-2"
            ></p-dropdown>
            <span class="p-input-icon-left p-mb-2 p-mb-md-0">
              <i class="pi pi-search"></i>
              <input
                type="search"
                pInputText
                placeholder="Search by Name"
                (input)="dv.filter($event.target.value)"
                class="p-mr-2"
              />
            </span>
            <!-- <p-dropdown [options]="dishCategory" [(ngModel)]="categories" placeholder="Sort By Category"
                        (onChange)="onCategoryChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
            <div class="p-ml-auto dataViewOpt">
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </div>
        </ng-template>
        <ng-template let-dish pTemplate="listItem">
          <div class="p-col-12" *ngIf="dish.status === 'active'">
            <div class="product-list-item">
              <div *ngIf="image" class="imgWrap">
          <img  [src]="dish.imageUrl" alt="{{ dish.name }}" /> 
                <span
                  class="icnBookmark"
                  (click)="fnBookmarkMenu(dish)"
                  [ngClass]="{ bMarked: dish.bookmark }"
                  ><i class="pi pi-bookmark"></i
                ></span>
                <div
                  class="mAvailibility"
                  [ngClass]="dish.statuses === 'active' ? '' : 'unavailable'"
                >
                  <span>{{
                    dish.statuses === "active" ? "Available" : "Unavailable"
                  }}</span>
                </div>
              </div>

              <div class="product-list-detail">
                <div class="product-name">
                  <span
                    class="vegSymbol p-mr-1"
                    [ngClass]="dish.isVeg ? 'txtSuccess' : 'txtDanger'"
                  >
                    <i class="pi pi-circle-on"></i></span
                  >{{ dish.name }}
                </div>
                <div class="product-description">{{ dish.description }}</div>
                <!-- <p-rating [ngModel]="dish.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                <div>
                  <p-tag
                    [value]="dish.rating ? dish.rating : 0"
                    icon="pi pi-star"
                    severity="success"
                  >
                  </p-tag>
                  <span class="voteTxt">{{ dish.rating ? 1 : 0 }} votes</span>
                </div>
                <i class="pi pi-tag product-category-icon"></i
                ><span class="product-category">{{ dish.categories }}</span>
              </div>
              <div class="product-list-action">
                <div>
                <span class="product-price">{{
                  (dish.isFull ? dish.fullPrice : dish.halfPrice)
                    | currency: "INR"
                }}</span>
                <div
                  *ngIf="dish.halfPrice !== 0 && dish.fullPrice !== 0"
                  class="p-field"
                >

                  <div class="p-formgroup-inline">
                    <label for="isFullStatus">Half </label>
                    <p-inputSwitch
                      [(ngModel)]="dish.isFull"
                      name="isFullStatus"
                      class="p-mx-2"
                    >
                    </p-inputSwitch>
                    <label for="isFullStatus">Full</label>
                  </div>
                </div>
              </div>
              <div>
                <p-button
                  icon="pi pi-shopping-cart"
                  styleClass="p-button-sm"
                  label="Add to Cart"
                  (click)="fnAddtoCart(dish)"
                  [disabled]="dish.statuses === 'OUTOFSTOCK'"
                ></p-button>
                <div class="timeTxt">
                  <i class="pi pi-clock p-mr-1"></i> {{ dish.timeForCook }} mins
                </div>
              </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template let-dish pTemplate="gridItem">
          <div class="p-col-12 p-md-4" *ngIf="dish.status === 'active'">
            <div class="product-grid-item card">
              <div class="product-grid-item-top">
                <div>
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="product-category">{{ dish.categories }}</span>
                </div>
                <div class="timeTxt">
                  <i class="pi pi-clock p-mr-1"></i> {{ dish.timeForCook }} mins
                </div>
                <!-- <span [class]="'product-badge status-' + dish.statuses.toLowerCase()">{{dish.statuses}}</span> -->
              </div>
              <div class="product-grid-item-content">
                <div *ngIf="image" class="p-mb-2 imgWrap">
                  <img [src]="dish.imageUrl" alt="{{ dish.name }}" />
                  <span
                    class="icnBookmark"
                    (click)="fnBookmarkMenu(dish)"
                    [ngClass]="{ bMarked: dish.bookmark }"
                    ><i class="pi pi-bookmark"></i
                  ></span>
                  <div
                    class="mAvailibility"
                    [ngClass]="dish.statuses === 'active' ? '' : 'unavailable'"
                  >
                    <span>{{
                      dish.statuses === "active" ? "Available" : "Unavailable"
                    }}</span>
                  </div>
                </div>
                <div class="product-name">
                  <span
                    class="vegSymbol p-mr-1"
                    [ngClass]="dish.isVeg ? 'txtSuccess' : 'txtDanger'"
                  >
                    <i class="pi pi-circle-on"></i></span
                  >{{ dish.name }}
                </div>
                <div class="product-description">{{ dish.description }}</div>
                <!-- <p-rating [ngModel]="dish.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                <div class="p-d-flex p-jc-between">
                  <div>
                    <p-tag
                      [value]="dish.rating ? dish.rating : 0"
                      icon="pi pi-star"
                      severity="success"
                    >
                    </p-tag>
                    <div>
                      <span class="voteTxt"
                        >{{ dish.rating ? 1 : 0 }} votes</span
                      >
                    </div>
                  </div>
                  <div class="p-formgroup-inline">
                    <label for="isFullStatus">Half </label>
                    <p-inputSwitch
                      [(ngModel)]="dish.isFull"
                      name="isFullStatus"
                      class="p-mx-2"
                    >
                    </p-inputSwitch>
                    <label for="isFullStatus">Full</label>
                  </div>
                </div>
                <div class="product-grid-item-bottom">
                  <span class="product-price">{{
                    (dish.isFull ? dish.fullPrice : dish.halfPrice)
                      | currency: "INR"
                  }}</span>

                  <p-button
                    styleClass="p-button-sm"
                    icon="pi pi-shopping-cart"
                    (click)="fnAddtoCart(dish)"
                    [disabled]="dish.statuses === 'OUTOFSTOCK'"
                    pTooltip="Bookmark Dish"
                    tooltipPosition="bottom"
                  ></p-button>
                </div>
                <div
                  *ngIf="dish.halfPrice !== 0 && dish.fullPrice !== 0"
                  class="p-field"
                ></div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
   
      <p-toggleButton class="btnCartToggle" onIcon="pipi-times" offIcon="pi pi-shopping-cart" (click)="fnCartToggle()" iconPos="right" [(ngModel)]="cartToggle"></p-toggleButton>
   
    </div>
    <div class="p-col-10 p-md-4 p-lg-4 cartWrap" [ngClass]="lblCartToggle =='Active' ? 'active':''">
      <div class="cartHeader">Cart Order Items</div>
      <div class="cartContent">
        <div class="delOptbtnWrap">
          <button
            pButton
            type="button"
            [ngClass]="deliveryMode == 'Dining' ? '' : 'p-button-outlined'"
            label="Dining"
            icon="pi pi-money-bill pi-text-primary"
            (click)="fnDeliveryMode('Dining')"
            class="p-mr-1"
          ></button>
          <button
            pButton
            type="button"
            [ngClass]="
              deliveryMode == 'Home Delivery' ? '' : 'p-button-outlined'
            "
            label="Home Delivery"
            icon="pi pi-home"
            (click)="fnDeliveryMode('Home Delivery')"
            class="p-mr-1"
          ></button>
          <button
            pButton
            type="button"
            [ngClass]="deliveryMode == 'Take Away' ? '' : 'p-button-outlined'"
            label="Take Away"
            icon="pi pi-send pi-text-primary"
            (click)="fnDeliveryMode('Take Away')"
            class=""
          ></button>
        </div>
        <div class="p-d-flex p-ai-center pborder p-mt-2">
          <!-- <label for="userName">User Name:</label> -->
          <span *ngIf="userData.userType === 3">{{ userData.userName }}</span>
          <p-dropdown
            (onChange)="userSelection(selectedUser)"
            *ngIf="userData.userType === 1 || userData.userType === 2"
            class="p-mr-4 p-inputtext-sm p-mb-2"
            id="userName"
            [options]="usercombine"
            [(ngModel)]="selectedUser"
            placeholder="Search for Number/Name"
            [filter]="true"
            [showClear]="true"
            optionLabel="contact"
            optionValue="id"
            filterBy="contact"
            filterMatchMode="contains"
            
          >
          </p-dropdown>
         <button
            *ngIf="userData.userType === 1 || userData.userType === 2"
            pButton
            pRipple
            label=""
            icon="pi pi-plus"
            class="p-button-success p-mr-2 p-button-sm p-mb-2"
            pTooltip="Add new user"
            (click)="openNew()"
          ></button>
          
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-text-left p-text-uppercase">

           <span> <strong>{{selectedUsers}}</strong> </span>
          </div> 
         
          
         <!-- <p-table #d2 [value]="selectedUsers" styleClass="p-datatable-customcss"> 
            <ng-template pTemplate="header">
                <tr>
                    
                    <th style="width: 100px;">Name
                        
                    </th>
                    
                    <th style="width: 100px;">Contact
                    </th>
            </ng-template> 
             <ng-template pTemplate="body" let-item>
                <tr>
                    
                    <td ng-repeat="item in selectedUsers"><span class="p-column-title"></span>
                        <span *ngIf="item.userName">{{item.userName}}</span>
                        <span *ngIf="!item.userName">-</span>
                        </td> 
                   
                     <td ng-repeat="item in item">
                        <span *ngIf="item.contact">{{item.contact}}</span>
                        <span *ngIf="!item.contact">-</span>
                        </td>
                </tr>
            </ng-template> 
          <ng-template pTemplate="emptymessage" let-item>
                <tr>
                    <td colspan="5" [attr.colspan]="item.length">
                       <span> No records found</span>
                    </td>
                </tr>
            </ng-template> 
      </p-table>  -->
        </div>
        <!-- cart Items -->
        <div *ngIf="cartItems?.orderItems?.length >0 "><!--|| cartItems?.orderItems== null-->
          <ul class="ulCart">
            <li
              class="cart-item p-mt-2"
              *ngFor="let item of cartItems.orderItems"
            >
          <span
                >{{ item.name }}
                <span>{{ item.isFull ? "" : "(Half)" }}</span></span
              >
              <span class="btnPlusMinusWrap">
                <!-- <i class="pi pi-minus"></i>  -->
                <button
                  pButton
                  type="button"
                  icon="pi pi-minus"
                  [disabled]="item.kotPrinted"
                  (click)="removeItem(item)"
                  class="
                    p-button-secondary
                    p-button-sm
                    p-button-text-only
                    p-button-text
                  "
                  iconPos="left"
                ></button>

                <span class="quantity text-success">{{ item.quantity }} </span>
                <!-- <i class="pi pi-plus text-success"></i> -->
                <button
                  pButton
                  type="button"
                  icon="pi pi-plus"
                  [disabled]="item.kotPrinted"
                  (click)="addItem(item)"
                  class="
                    p-button-success
                    p-button-sm
                    p-button-text-only
                    p-button-text
                  "
                  iconPos="left"
                ></button>
              </span>

              <span>{{
                item.quantity * item.price | currency: "INR":true
              }}</span>
            </li>
            <li>
              <div class="p-d-flex p-jc-between p-m-0">
                <span>GST</span> {{ cartItems.gstTotal | currency: "INR":true }}
              </div>
              <div class="p-flex-md-row">
                <div class="p-fluid p-formgrid p-grid">
                  <div class="p-field p-col-6">
                    <span> Discount</span>
                  </div>
                  <div class="p-field p-col-3">
                    <!-- <p-inputNumber
                      class="p-inputtext-sm fullWidth"
                      name="discount"
                      id="discount"
                      prefix="%"
                      mode="decimal"
                      [useGrouping]="false"
                      [(ngModel)]="cartItems.discountInPercent"
                      [minFractionDigits]="2"
                      (blur)="fnDiscountCal($event.target.value)"
                    >
                    </p-inputNumber> -->
                    <input
                    type="number"
                    [(ngModel)]="cartItems.discountInPercent"
                    name="discount"
                    currency="INR"
                    locale="en-IN"
                    class="p-inputtext-sm"
                    pInputText
                    id="discount"
                    (blur)="fnDiscountCal($event)"
                    placeholder="%"
                  />
                  </div>
                   <div class="p-field p-col-3">
                
                    <input
                    type="number"
                    [(ngModel)]="cartItems.discountInrupes"
                    name="discount"
                    currency="INR"
                    locale="en-IN"
                    class="p-inputtext-sm"
                    pInputText
                    id="discount"
                    (blur)="fnDiscountCal($event)"
                    placeholder="Rs"
                  />
                  </div>
                </div>
                <!-- <div style="font-size:small p-my-2">Discount in &#8377;</div> -->
                <div class="p-fluid p-formgrid p-grid">
                  <div class="p-field p-col-7">
                    <span>Additional Amount</span>
                  </div>
                  <div class="p-field p-col-5">
                    <!-- <p-inputNumber class="p-inputtext-sm" mode="currency"
                             currency="INR" locale="en-IN" (blur)="fnAdditionalAmount($event)">
                        </p-inputNumber> -->
                    <input
                      type="number"
                      [(ngModel)]="cartItems.additionalAmount"
                      name="addAmount"
                      currency="INR"
                      locale="en-IN"
                      class="p-inputtext-sm"
                      pInputText
                      id="addAmount"
                      (blur)="fnAdditionalAmount($event)"
                    />
                  </div>
                </div>
              </div>

              <div class="p-d-flex p-jc-between gTotP">
                <span> Total</span
                >{{ cartItems.grossTotal | currency: "INR":true }}
              </div>
            </li>
          </ul>
          <div class="btnWrap p-mb-1">
            <button
              pButton
              type="button" 
              [disabled]="!KOTEnabled"
              label="KOT Print"
              (click)="fnKOTPrint($event)"
              class="p-button-sm p-button-info p-p-1"
              *ngIf="both==false"
            ></button>
            <button
              pButton
              type="button" 
              *ngIf="both==true"
              label="KOT and Bill Print"
              (click)="fnKOTnBillPrint($event)"
              class="p-button-sm p-button-info p-p-1"
              [disabled]="!KOTEnabled"
            ></button>
            <button
              pButton
              type="button"
              label="Bill Print"
              [disabled]="!isKOTdone"                                            
              (click)="fnBillPrint($event)"
              class="p-button-sm p-button-info p-p-1"
              *ngIf="both==false"
            ></button>
            <button
              pButton
              type="button"
              label="Make Payment"
              [disabled]="!KOTEnabled"                                            
              (click)="fnDirectPayment($event)"
              class="p-button-sm p-button-help p-p-1"
              *ngIf="both==true"
            ></button>
            <button
              [disabled]="userData.userType === 3"
              pButton
              type="button"
              label="Make Payment"
              [disabled]="!isKOTdone"
              (click)="fnMakePayment($event)"
              class="p-button-sm p-button-success p-p-1"
            ></button>
            <button
              pButton
              type="button"
              label="Empty Carts"
              (click)="emptyCart()"
              class="p-button-sm p-button-danger p-p-1"
            ></button>
          </div>
        </div>

        <p *ngIf="cartItems?.orderItems?.length == 0">
          Order some yummy and delicious food from menu!
        </p>
        <!-- cart Item end -->
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>
<!-- Add User -->
<p-dialog
  [(visible)]="userDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="User Configuration"
  [modal]="true"
  closeOnEscape="true"
>
  <app-user-form
    [user]="user"
    (saveEvent)="fnSaveUser($event)"
    *ngIf="userDialog"
  ></app-user-form>
</p-dialog>

<!-- Dining Table View -->
<p-dialog
  [(visible)]="diningTableDialog"
  [modal]="true"
  (onHide)="fnHideDiningTableM('diningTable')"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '75vw' }"
 
>
<ng-template pTemplate="header">
  <h4 class="p-m-0">Dining Table List<strong> 
  {{selectedTableID}}</strong> </h4>
</ng-template>
  <app-dining-table 
    (tableSelection)="fnTableSelection($event)">
  </app-dining-table>
</p-dialog>
<!-- Billing View -->
<p-dialog [(visible)]="billingDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    header="Billing Details" [modal]="true" [maximizable]="true" [resizable]="true">
    <!-- <app-invoice *ngIf="admin" [adminData]="admin"></app-invoice> -->
    <app-billing *ngIf="billingDialog"  (emptyCart)="emptyCart()" [adminData]="admin" [shoppingCart]="cartItems" (close)="closeBillingModal()">
    </app-billing>
</p-dialog>
<app-kot-items [userdata]="selectedUsers" [adminData]="admin" [invoiceno]="invoiceno"
[printType]="selectedPrintType" [orderData]="cartItems"  [tableNames]="selectedTableNames" [orderId]="currentOrderId" *ngIf="showKOTItems"></app-kot-items>