:host ::ng-deep {
    .p-nogutter>.p-col,
    .p-nogutter>[class*=p-col-] {
        padding: 0 !important;
    }
    .imgWrap {
        position: relative;
        img {
            width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 0.75rem 0 0;
            // min-height: 180px;
            // max-height: 180px;
        }
        span.icnBookmark {
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 5px;
            background: rgba(255, 255, 255, 0.5);
            width: 25px;
            height: 25px;
            vertical-align: middle;
            border-radius: 20px;
            padding: 2px 4px;
            cursor: pointer;
        }
        span.icnBookmark.bMarked {
            background-color: #e91e27;
            i {
                color: #fff;
            }
        }
    }
    .timeTxt {
        border: 1px solid #dee2e6;
        padding: 5px;
        display: flex;
        line-height: 0.5rem;
        font-size: 0.75rem;
        color: #898989;
        align-items: center;
    }
    .p-dropdown {
        // width: 18rem;
        font-weight: normal;
        .p-dropdown-label {
            font-size: 0.813rem;
        }
    }
    .p-dataview .p-dataview-content {
        overflow: scroll !important;
        height:515px;
    }
    .p-inputtext {
        font-size: 0.813rem;
    }
    .product-name {
        font-size: 1rem;
        font-weight: 700;
        color: #595353;
    }
    .product-description {
        margin: 0 0 1rem 0;
        color: 666;
        font-size: 0.75rem;
    }
    .product-category-icon {
        vertical-align: middle;
        margin-right: 0.5rem;
        font-size: 0.813rem;
    }
    .product-category {
        font-weight: 600;
        vertical-align: middle;
        font-size: 0.813rem;
        line-height: 0.50rem;
    }
    .product-list-item {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 100%;
        span.icnBookmark 
        {
            right: 35px;
        }
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
        .product-list-detail {
            flex: 1 1 0;
        }
        .p-rating {
            margin: 0 0 .5rem 0;
        }
        .product-price {
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
        .p-button {
            margin-bottom: .5rem;
        }
    }
    .product-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
        img {
            min-height: 210px;
            max-height: 210px;
        }
        .product-grid-item-top,
        .product-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .product-grid-item-content {
            // text-align: center;
        }
        .product-price {
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
    .btnCartToggle{display: none;}
}
.addcartbooked{
    background-color: #28a745; 
}
.addcart{
background-color: #007bff;
}
.vegSymbol {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
    padding: 0px 2px;
    i {
        font-size: 10px;
    }
}

.vegSymbol.txtSuccess {
    border: 1px solid #4dbd74;
    i {
        color: #4dbd74;
    }
}

.vegSymbol.txtDanger {
    border: 1px solid #f86c6b;
    i {
        color: #f86c6b;
    }
}

.mAvailibility {
    margin-right: 02rem;
    text-align: center;
    margin-top: -10px;
    color: #4dbd74;
    span {
        border: 1px solid #dcdcdc;
        padding: 5px 10px;
        background: #fff;
        font-size: 12px;
        margin: 0 auto;
    }
}

.mAvailibility.unavailable {
    span {
        color: #dcdcdc;
    }
}

.card {
    padding: 0.75rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    // margin-bottom: rem;
}

.cartHeader {
    background: #efefef;
    color: #212529;
    border: solid #dee2e6;
    border-width: 1px 0 0 0;
    padding: 1.30rem 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.cartContent {
    padding: 10px;
    .pborder{
        border-bottom:1px solid #898989;
    }
   
}
.delOptbtnWrap{
    button{ 
        padding:5px 7px;
        .pi{
            margin-top:3px;
        }
    }
}
@media screen and (max-width: 768px) {

    .category{
        font-size: 0.8rem !important;
        text-transform: uppercase;
        height: 1.5rem;
    }
    :host ::ng-deep {
        .p-button.p-button-icon-only{
            height: 1.667rem;
            width: 1.667rem;
        }
        .p-button.p-button-icon-only {
            height: 1.8rem;
            width: 2.667rem;
        }
        [_nghost-aqf-c131] .p-button.p-button-icon-only {
            height: 1.667rem;
            width: 2.667rem;
        }
        .p-button.p-button-icon-only .p-button-icon-left, .p-button.p-button-icon-only .p-button-icon-right {
            margin: 0;
            font-size: 2rem;
        }
        .product-list-item .product-list-action {
            display: flex;
            flex-direction: column !important;
         
            flex-direction: row !important;
            align-items: center !important;
            width: 52% !important;
            justify-content: space-evenly !important;
        }
        .p-button{
      padding: 0rem 0.1rem;
      font-size: .75rem;
}
    
        .pi{
            font-size: 0.75rem;
        }  

.cartWrap{
    display: none;
    position: absolute;
    bottom: 0;
    height: auto;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.cartWrap.active{
    display: block;
}
.btnCartToggle{
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
        .p-inputswitch{
    height: 1.25rem;
}
        .p-inputswitch .p-inputswitch-slider:before{content:"";
            width: 1rem;
            height: 1rem;
            left: 0.25rem;
            margin-top: -0.5rem;}
            .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
                transform: translateX(1.625rem);
            }
    .product-list-item {
        // flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem;
        .imgWrap{
            width:110px;
        }
        img {
            width: 80px;
            margin: 0.75rem 0;
            // min-height: 180px;
            // max-height: 180px;
        }
        .product-list-detail {
            text-align: left;
        }
        .product-price {
            align-self: center;
        }
        .product-list-action {
            display: flex;
            flex-direction: column; 
            margin-top: 1rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    .dataViewOpt, p-paginator{
        
    }
    .p-dataview .p-dataview-header{
        padding:0.5rem;
        p-dropdown{
            width: 32%;
            margin-right: 5px;
            .p-dropdown{
                width:100%; 
            }
        }
    }


}
}
@media (min-device-width: 500px) and (max-device-width: 767px) {
.simplemenu{
    width: 33% !important;
}
}

@media (min-device-width: 800px) and (max-device-width: 1280px) {
.cartbtn{
    font-size: smaller;
}
    :host::ng-deep{
        .p-input-icon-left>i:first-of-type {
            left: 0.75rem;
            color: #495057;
            top: 17px;
        }
     .p-dropdown {
            font-weight: initial;
            width: 128px;
        }
    }
}
@media screen and(min-width:500px)and(max-width: 712px) {

    .category{
        font-size: 1.3rem !important;
        text-transform: uppercase;
        height: 2.5rem;
    }
    :host ::ng-deep{
   .product-name {
        font-size: 1.5rem !important;
       
    }
    .p-button.p-button-icon-only .p-button-icon-left, .p-button.p-button-icon-only .p-button-icon-right {
        margin: 0;
        font-size: 2rem;
    }
    .p-button.p-button-sm .p-button-icon {
        font-size: 1.2rem;
    }
    .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 60%;
    }
    .p-button{
       
        font-size: 1rem !important;
  }
    .product-description {
     margin: 0 0 0rem !important;

    font-size: 1rem !important;
}
.product-list-item .p-button {
    // margin-bottom: 0.5rem;
    font-size: 1.2rem !important;
}
    .p-dataview .p-dataview-content {
        overflow: scroll !important;
        height:880px!important;
    }
    .p-button.p-button-icon-only {
        height: 2.667rem;
        width: 3.667rem;
    }
    .product-grid-item .product-price {
        font-size: 1.4rem;
    }

}
}
.visibility div {
    display: none;
}

.p-inputswitch .p-inputswitch-slider{
    background: #D32F2F;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
   // border-radius: 30px;
  }
   
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
      background:#689F38;
  }

  .green {
    background-color: blue;
}

.red {
    background-color: red;
}

.userFltrWrap{
    justify-content: space-between;
    .userFltr {
        width: 70%;
        .p-dropdown{
            width: 100%;
    }
}
}
// Cart Items CSS
ul.ulCart {
    list-style: none;
    padding: 0;
    margin: 0;
 li {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:first-child{
        width:40%;
    }
    span:last-child{
        width:30%;
        text-align: right;
    }
    .p-inputtext-sm .p-inputtext{
        padding:0.2101rem 0.3255rem;
    }
}
li:last-child{
    
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    margin: 5px 0;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    > div{
        width: 100%;
    }
    .gTotP{
        font-weight: bold;
    }
}
}
.btnPlusMinusWrap {
    border:1px solid #dcdcdc;
    padding: 0 2px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        width:10px;
        height: 10px;
        .pi{
        font-size:0.7rem;
    } 
    }
    button:focus,button:visited,button:focus-visible{
        border:0;
        outline: 0;
        box-shadow: none;
     
}
   
}
.btnWrap{
    display: flex;
    justify-content: space-between;

    
}

.fullWidth {
    width: 100%;
}
@media screen and (max-width:320px) {
    .delOptbtnWrap{
        display: block; 
        width: 100%;
    }
    .vegSymbol{
        width: 10px;
        height: 10px;
  
        vertical-align: middle;
        line-height: 12px;
        padding: 0 2px;
    }
    .btnCartToggle{
        display: block;
        position: fixed;
        top: 71px !important;
        right: 29px;
    }
    // .cartWrap{
    //     display: none;
    //     position: absolute;
       
    //     background: #fff;
    //     border: 1px solid #dcdcdc;
    //     border-radius: 5px;
    //     top: 0 !important;
    // }
  
    :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;
        .p-paginator .p-paginator-current {
            margin-left: 0;
           font-size: 0.6rem!important;
       }
      
   
.p-input-icon-left>i, .p-input-icon-right>i {

    top: 37% !important;
}
    .p-paginator-page {
           background-color: #fff;
           border: 1px solid #dee2e6;
           color: #007bff;
           min-width: 1.357rem;
           height: 1.357rem;
           margin: 0 0 0 -1px;
       }
        img {
            width: 100%;
            margin: 0.75rem 0;
            // min-height: 180px;
            // max-height: 180px;
        }
        .product-list-detail {
            text-align: center;
        }
        .product-price {
            align-self: center;
        }
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
        .product-list-action {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }



    }
    :host ::ng-deep{
        
        .p-button.p-button-icon-only{
            height: 1.3rem !important;
            width: 1.3rem !important;
        }
        .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
            font-size: 0.6rem !important;
        }
        .product-list-item img {
            display: none;
        }
        .p-button.p-button-sm .p-button-icon {
            font-size: 0.5rem;
        }
        .mAvailibility span{
            display: none;
        }
   .product-list-item .product-list-action {
            margin-top: 0rem!important;
        }
    .p-component {
            font-size: .5rem!important;
            max-width: 100%!important;
        }
       .p-input-icon-left>.p-inputtext {
            //  padding-left: 0px !important; 
            width: 93%!important;
            height: 36px!important;
        }
       .p-inputtext {
            font-size: .5rem;
        }
        .p-component {
           font-size: .5rem!important;
        }
        .p-input-icon-left>.p-inputtext {
            padding-left: 2.1rem;
        }
     .product-list-item .product-list-detail {
            text-align: center;
            display: flex!important;
            margin-top: 0rem;
          
        }
       
        .mAvailibility {
            margin-right: 0%!important;
            text-align: center;
            margin-top: -10px;
            color: #4dbd74;
            margin-bottom: 10px;
        }
        .p-dropdown-label {
            font-size: 0.5rem;
        }
    }
}