.custom-marker{
    border-radius: 50%;
    height: 2.357em;
    width: 2.357rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #6c757d;
    border: 1px solid #6c757d;
}
// :host::ng-deep{
//     .p-tabview-panel{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }
.custom-marker.status-completed{
    color: #ffffff;
    background: #28a745;
    border: 1px solid #28a745; 
}
.custom-marker.status-running{
    color: #ffffff;
    background: #FF9800;
    border: 1px solid #FF9800; 
}
.borderR{
    border-right: 1px solid #dcdcdc;
}
.orderNumber{
    border-bottom: 1px dashed #dcdcdc;
}
.menuItems{
    border-bottom: 1px dashed #dcdcdc;
}
.bTotal{
    border-bottom: 1px dashed #dcdcdc;
}
.dashedBorderT{
    border-top: 1px dashed #dcdcdc;
}
@media all and(max-width:425px){
    :host::ng-deep{
        .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
            padding: 0px 0.1rem !important;
            font-size: 0.8rem;
        }
        .p-timeline.p-timeline-vertical .p-timeline-event-content, .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
            padding: 0 0.1rem !important;
            font-size: 0.8rem;
        }
        .p-timeline-event-opposite {
            font-size: 0.5rem;
            padding: 0 0.8rem !important;
        }
    }
  
}
@media all and(max-width:768px){
    :host::ng-deep{
        .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
            padding: 0px 0.1rem !important;
          
        }
        .p-timeline.p-timeline-vertical .p-timeline-event-content, .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
            padding: 0 0.1rem !important;
       
        }
        .p-timeline-event-opposite {
            
            padding: 0 0.8rem !important;
        }
    }
  
}
@media all and(max-width:320px){
    :host::ng-deep{
        .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
         
            font-size: 0.5rem;
        }
        .p-timeline.p-timeline-vertical .p-timeline-event-content, .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
    
            font-size: 0.5rem;
        }
        .p-timeline-event-opposite {
            font-size: 0.5rem;

        }
    }
  
}@media all and(max-width:375px){
    :host::ng-deep{
        .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
         
            font-size: 0.5rem;
            padding: 0 0.2rem!important;
        }
        .p-timeline.p-timeline-vertical .p-timeline-event-content, .p-timeline.p-timeline-vertical .p-timeline-event-opposite {
    
            font-size: 0.5rem;
        }
        .p-timeline-event-opposite {
            font-size: 0.5rem;

        }
    }
  
}


@media print {
 .noprint{
     display: none;
 }

 .invoice{

 }
    app-invoice{
    
        display :block;
        padding: 0%;
        position:static;
        left:0;
        top:0;
        

    app-invoice{
        position: relative;
        display :block;
        padding: 0%;

    }
    .nonprint{
        display: none;
    }
    .status{
        visibility: hidden;

    }

    body .dishMenuWrapper, body app-header-new, body app-footer-new, body .breacrumbWrap, body app-sidebar-new{
        visibility: hidden;
    }

   
    :host::ng-deep{
        .p-dialog{
                padding: 0%!important;

                width: 100%!important;
            .p-dialog-header{
            visibility: hidden;

            .p-dialog-header{
                display: none!important ;
            }

            
            .p-dialog-header{
            visibility: hidden;


        }
        .p-button.p-button-outlined{
            visibility: hidden;
        }
        .p-button-outlined{
            display:none !important;
        }
        .p-dialog-content{
           visibility: hidden !important;
        }
        .p-dialog-header-close-icon{
            visibility: hidden;
        }
        .p-dialog-header-icon{
            visibility: hidden;
        }
    }
        .p-tabview .p-tabview-nav{
            visibility: hidden;
        }
    
    .invoice
{
    margin: 0%;
    visibility: visible;
    
}
    }

    }
    }
}