<div class="p-card">

	<p-tabView>
		<p-tabPanel header="Order Status" class="noprint">
			<div class="p-grid"  >
				<div class="p-col-6 borderR" >
					<h2 class="orderNumber p-my-2">Order: {{orderId}}</h2>
					<h4 class="p-m-0">Order Items</h4>
					<div class="menuItems">
						<table class="p-col-12" >
							<thead>
								<tr>

									<th>{{'Name' |  translate }}</th>

									<th class="p-text-right">Qty</th>
								</tr>
							</thead>
							<tbody *ngFor="let item of orderItem">
								<tr>
									<td>
										{{item.dishName}} {{item.isFull ? '' : ' (Half)'}}
									</td>
									<td class="p-text-right">
										{{item.quantity}}
									</td>
							</tbody>
							<tfoot>
							<tr class="dashedBorderT">
								<td class="p-text-right dashedBorderT">Bill Total: </td>
								<td class="p-text-right dashedBorderT"><strong>{{orderTotal}}</strong></td>
							</tr>
							<tr>
								<div class="p-grid">
									<!--<div class="p-col-1 p-d-flex p-align-end"><div class="billingIcnsWrap" [ngClass]="{'active':isSelectDeliveryMode}">
										<span class="pi pi-directions"></span></div></div>
									<div class="p-col-11">
										 <h3 class="p-text-normal p-mt-0">Choose Delivery Option</h3> -->
										<!-- <button pButton type="button" [ngClass]="deliveryMode == 'Dining' && isSelectDeliveryMode ? '' : 'p-button-outlined'"
											label="Dining" icon="pi pi-money-bill pi-text-primary" (click)="fnDeliveryMode('Dining')"
											class="p-px-5 p-py-3 p-mr-2"></button> -->
										<!-- <button pButton type="button" [ngClass]="deliveryMode == 'Home Delivery' && isSelectDeliveryMode ? '' : 'p-button-outlined'"
											label="Home Delivery" icon="pi pi-home" (click)="fnDeliveryMode('Home Delivery')" class="p-px-5 p-py-3 p-mr-2"></button>
											<button pButton type="button" [ngClass]="deliveryMode == 'Take Away' && isSelectDeliveryMode ? '' : 'p-button-outlined'"
											label="Take Away" icon="pi pi-send pi-text-primary" (click)="fnDeliveryMode('Take Away')"
											class="p-px-5 p-py-3"></button>  
									</div>-->
									<div class="p-col-1 p-d-flex p-align-end"><div class="billingIcnsWrap" [ngClass]="{'active':lblIsProceed}">
										</div></div>      <!---->
									<div class="p-col-11"> 
										<h3 class="p-text-normal p-mt-0">Complete Payments</h3>
									
							
												<button pButton type="button" [ngClass]="paymentMode == 'Cash' && lblIsProceed ? '' : 'p-button-outlined'"
												label="Cash" icon="pi pi-wallet pi-text-primary" (click)="fnCashProceed(true)"
												class="p-mr-2"></button>
								
								
												<button pButton type="button" [ngClass]="paymentMode == 'UPI' && lblIsProceed ? '' : 'p-button-outlined'"
											label="UPI" icon="pi pi-briefcase" (click)="fnUPIProceed()" class=""></button>
									
									<div *ngIf="paymentMode === 'UPI'" class="p-col-6" style="margin: auto;">
										<img [src]="adminData.upiImage" *ngIf="adminData.upiImage" alt="UPI" style="width: 200px; height: 200px;">
										<p class="p-text-danger p-text-small" *ngIf="!adminData.upiImage">UPI /QR code is not available. Kindly upload UPI code in the admin setting page.</p>
									</div>
								
									<div class="billing-separator p-col-12 p-my-2 p-p-0"></div>
									<div class="p-col-12 p-d-flex p-jc-end">
										<button pButton pRipple label="Proceed" [disabled]="!lblIsProceed" icon="pi pi-check"
											class="p-button-success p-button p-button-raised p-mr-2" (click)="fnProceed()"></button>
											
										<button pButton pRipple label="Cancel" type="button" icon="pi pi-times" class="p-button-danger p-button-raised"
											(click)="fnCloseModal()"></button>
									</div>
							
									
								</div>
								</div>
								
							<!-- <app-billing  [adminData]="adminData" [shoppingCart]="cartItems"></app-billing> -->
							
							</tr>
						</tfoot>
						</table> 
					</div> 
					<!-- <button pButton pRipple label="{{showInvoice? 'Hide' :'Show'}} Invoice" type="button" icon="pi pi-book"
					class="p-button-warning p-button-raised p-my-2" (click)="fnShowInvoice()"></button> -->
				</div>
				<div class="p-col-6">
					<h3 class="p-text-normal p-text-center p-my-2">Order Status</h3>
					<p-timeline [value]="orderStatusData" class="dashedBorderB">
						<ng-template pTemplate="marker" let-event>
							<span class="custom-marker p-shadow-2" [ngClass]="'status-' + event.status">
								<i [ngClass]="event.icon"></i>
							</span>
						</ng-template>
						<ng-template pTemplate="content" let-event style="width: 20px;">
							<small class="p-text-secondary">{{event.date | date: 'dd/MM hh:mm a'}}</small>
						</ng-template>
						<ng-template pTemplate="opposite" let-event >
							{{event.name}}
						</ng-template>
					</p-timeline>
					<div class="p-d-flex p-jc-end p-m-2 dashedBorderT">
						<button pButton pRipple label="Cancel Order" type="button" icon="pi pi-times"
							class="p-button-danger p-button-raised p-mt-3" (click)="fnCancelOrder()"></button>
							
					</div>
				</div>

			</div>
			
		</p-tabPanel>
		<p-tabPanel header="Invoice" class="flex justify-content-center" >
			<div class="p-grid" style="display: inline-flex!important;justify-content: end;align-content: flex-end;">
			<div class="p-col-6 invoice">	
				<app-invoice *ngIf="adminData" [adminData]="adminData" [orderItem]="orderItem" [cartItems]="cartItems" [invoiceno]="invoiceno"></app-invoice>
			</div>
			<div class="p-col-6 nonprint" >
				<button pButton type="button" label="Print" (click)=" printing()" class="p-button-outlined p-mt-2 print">  </button>
			</div>
		</div>
		</p-tabPanel>
	</p-tabView>
	<p-toast position="bottom-center"></p-toast>
</div>