<div class="p-card">
    <p-table #d2 [value]="orderList" responsiveLayout="stack" styleClass="p-datatable-customcss" [paginator]="true"
        [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedDishes" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr class="body">
                <th class="check" style="width: 3rem">
                    <p-tableHeaderCheckbox >

                    </p-tableHeaderCheckbox>
                </th>
                <th>{{ 'Username' | translate }}
                    <p-columnFilter  type="text" field="name" display="menu"></p-columnFilter>
                </th>
                <th style="width: 100px; text-align: center;"> {{ 'Mobile' | translate }} </th>
                <th style="width: 50px;"> {{ 'Price' | translate }} </th>
                <th style="text-align: center;"> {{ 'Order Type' | translate }} </th>
                <th style="text-align: center;"> {{ 'Payment Mode' | translate }} </th>
                <th style="text-align: center;"> {{ 'Order Status' | translate }} </th>
                <th style="width: 250px; text-align: center;"> {{ 'Action' | translate }} </th>
        </ng-template>
  
        <ng-template pTemplate="body" let-order let-columns="columns">
            
            <tr >
                
                <td class="bodycheck">
                    <p-tableCheckbox [value]="order"></p-tableCheckbox>
                </td>
                <td>{{order.userName}}</td>
                <td style="text-align: center;">{{order.userMobileNumber}}</td>
                <td style="text-align: center;">{{order.grossTotal}}</td>
                <td style="text-align: center;">{{getDeliveryOptStr(order.deliveryOptionId)}}</td>
                <td style="text-align: center;">{{getPaymentMode(order.paymentMode)}}</td>
                <td style="text-align: center;">
                    <p-tag
                        [value]="(order.status === 1)? 'Ordered': (order.status === 2)? 'Processing': (order.status === 3)? 'Shipped': (order.status === 4)? 'Delivered': (order.status === 10)? 'Cancelled' : '' "
                        *ngIf="order.status" class="p-text-uppercase"
                        [severity]="(order.status < 4)? 'warning': (order.status === 10)? 'danger': 'success'"></p-tag>
                </td>
                <td style="text-align: center; width: 250px;">
                    <button [disabled]="order.status !== 1" pButton pRipple icon="pi pi-cog"
                        [ngClass]="{'p-button-warning': order.status === 1, 'p-button-success': order.status > 1}" class="p-button-rounded p-button-sm p-mr-1"
                        (click)="fnProcessing(order)" pTooltip="Process Order" tooltipPosition="left"></button>

                    <button [disabled]="order.status !== 2" pButton pRipple icon="pi pi-envelope"
                    [ngClass]="{'p-button-secondary': order.status < 2 || order.status === 10, 'p-button-warning': order.status === 2, 'p-button-success': order.status > 2}"
                        class="p-button-rounded p-button-sm p-mr-1" (click)="fnShipping(order)"
                        pTooltip="Shipping Order" tooltipPosition="left"></button>

                    <button [disabled]="order.status !== 3" pButton pRipple icon="pi pi-check"
                    [ngClass]="{'p-button-warning': order.status === 3, 'p-button-success': order.status > 3, 'p-button-secondary': order.status < 3  || order.status === 10 }"
                        class="p-button-rounded p-button-sm p-mr-1" (click)="fnCompleted(order)"
                        pTooltip="Complete Order" tooltipPosition="left"></button>

                    <button pButton pRipple icon="pi pi-eye"
                        class="p-button-rounded p-button-primary p-button-sm p-mr-1" (click)="fnViewOrder(order)"
                        pTooltip="View Order" tooltipPosition="left"></button>
                    <button [disabled]="order.status === 10 || order.status === 4" pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-sm"
                        (click)="fnCancelOrder(order)" pTooltip="Cancel Order" tooltipPosition="left"></button>
                    <!-- <p-checkbox name="groupname{{order.id}}" [value]="order.selectedDish" [inputId]="order.id" [(ngModel)]="selectedValues" (change)="onCheckboxChange(order.id, $event)"></p-checkbox> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" >
            <tr>
                <td colspan="9" class="p-text-center">
                   <span> No Order Today</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="orderStatusDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
        [style]="{width: '52vw' }" header="Order Status" [modal]="true">
        <app-order-status *ngIf="orderStatusDialog" [orderId]="selectedOrderId"
         [orderTotal]="selectedOrderTotal" [cartItems]="cartData">
        </app-order-status>
    </p-dialog>
</div>