
<app-header-new (fnMenuSidebar)="fnMenuSBarClick()" *ngIf="authService.loggedIn()" (logOut)="fnLogout()"></app-header-new>
<div class="app-body">
    

    
    <app-sidebar-new *ngIf="authService.loggedIn()"></app-sidebar-new>
   

    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
            
        </div>
        <p-toast position="bottom-center"></p-toast>
    </main>
    
</div>
<app-footer-new></app-footer-new>
<!-- <app-footer>
    <span><a href="https://coreui.io">HMS</a> &copy; 2021.</span>
    <span class="ml-auto">Powered by <a href="https://coreui.io/angular">HMS</a></span>
</app-footer> -->

<div *ngIf="authService.showLoader">
    <p-dialog [(visible)]="authService.showLoader" [style]="{width: '15%'}" [closable]="false" [modal]="true">
            <div style="text-align: center">
                <p-progressSpinner [style]="{width: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>    
            </div>
            <div style="text-align: center">
            <span class="p-text-center"> 
                Please Wait
            </span></div>
    </p-dialog>
</div>