<div class="row">
    <div class="p-card">
      
        <p-tabView class="col-md-12 p-m-3">
            <p-tabPanel header="Advanced Table Booking">
                <div class="p-grid">
                    <div class="p-col-4 p-md-3 p-lg-2" *ngFor="let tblItem of tableList">
                        <div class="tblBox p-shadow-1 p-p-md-2" [ngClass]="{'booked':!tblItem.isBooked}">
                            <h2 class="tblHead">{{tblItem.name}}</h2>
                            <p class="txtSeats"><span class="p-text-small">Seats</span>{{tblItem.seat}}</p>
                            <p class="txtShape"><span class="p-text-small">Shape -</span>{{tblItem.shape}}</p>
                            <p class="txtHallType"><span class="p-text-small">Hall type -</span>{{tblItem.isAc === true? 'AC': 'Non AC'}}</p>
                            <div class="btnWrapper">
                                
                                <button pButton class="p-button-outlined p-button-text-only" pTooltip="Select" type="button" icon="pi pi-table" (click)="fnTblBook(tblItem)" iconPos="left">
                
                                </button>
                                <button pButton (click)="showBasicDialog()" class="p-button-outlined p-button-text-only" pTooltip="Join" type="button" icon="pi pi-user-plus" iconPos="left"      ></button>
                                 <button pButton class="p-button-outlined p-button-text-only" pTooltip="Unselect" type="button" icon="pi pi-times"  (click)="fnTblRelease(tblItem)"></button>
                            </div>
                        </div>
                    </div>
              
                </div>
                <p-dialog header="Select Table"  [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
                    <div class="p-grid">
                        <div class="p-col-2" *ngFor="let tblItem of tableList">
                            <div class="tblBox p-shadow-1 p-p-md-2">
                           
                              <button pButton class="p-button-outlined p-button-text-only"  type="button"> {{tblItem.name}}</button>
                            </div></div></div>
                   
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Yes" styleClass="p-button-text"></p-button>
                        <p-button icon="pi pi-times" (click)="displayBasic=false" styleClass="p-button-text" label="No"></p-button>
                    </ng-template>
                </p-dialog>

             
            </p-tabPanel>
            <p-tabPanel header="Dining" >
                <div class="p-grid">
               
                <app-datahistory [maxDate]="date" [minDate]="date" [ID]="adminId" [deliveryMode]="1"></app-datahistory>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Home Delivery" >
                <div class="p-grid">
                    <app-datahistory [maxDate]="date" [minDate]="date" [ID]="adminId" [deliveryMode]="2"></app-datahistory>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Take Away" class="col-md-12" >
                <div class="p-grid">
                    <app-datahistory [maxDate]="date" [minDate]="date" [ID]="adminId" [deliveryMode]="3"></app-datahistory>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>