<header>
    <div class="headerWrap" *ngIf="authService.loggedIn()">
        <div class="p-grid p-nogutter">
            <div class="p-col-6 p-d-flex p-align-center">
                <span class="hamBurgerIcn" [ngClass]="lblsidebar ? 'collapsed': 'toggled'" *ngIf="authService.loggedIn()" (click)="fnhmBurgerClick()"><i class="pi pi-bars"></i></span>
                <img src="assets/img/brand/logo.jpg" class="logo" width="60" alt="FY5 Company">
               
            </div>
          
            <div class="p-col-6 p-text-right"> 
                <a class="btn head" style="color: white;
                margin-right: 2px;text-transform: capitalize;">
                     &nbsp;Hello : <strong>{{authService.userData().name}} </strong></a> 
                <div class="profilWrap p-mr-4 p-mt-2" (clickOutside)="lbluserProfleShow=false">
                <p-avatar icon="pi pi-user" (click)="fnToggleUProfile()" *ngIf="authService.loggedIn()"></p-avatar> 
                <ul class="dropdownMenu"*ngIf="lbluserProfleShow">
                    <li class="dropdownHeader">Account</li>
                    <li><a routerLink="/hotel-admin"><i></i>Profile</a></li>
                    <li><a routerLink="/settings">Setting</a></li>
                    <li><a routerLink="/dish/order-list">Orders</a></li>
                    <li><a routerLink="/updatepassword">Change Password</a></li>
                    
                    <li><a (click)="fnLogout()">Logout</a></li>
                    
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>