<header>
    <div class="headerWrap" *ngIf="authService.loggedIn()">
        <div class="p-grid p-nogutter">
            <div class="p-col-4 p-md-6 p-d-flex p-align-center">
                <span class="hamBurgerIcn" [ngClass]="lblsidebar ? 'collapsed': 'toggled'" *ngIf="authService.loggedIn()" (click)="fnhmBurgerClick()">
                    <i class="pi pi-bars"></i></span>
                <img src="assets/img/brand/logo.jpg" class="logo" width="60" alt="FY5 Company">
               
            </div>
          
            <div class="p-col-8 p-md-6 icon p-text-right"> 
              
                    <span class="form-inline">
                      <select class="form-control" #selectedLang (click)="switchLang(selectedLang)">
                        <option *ngFor="let language of translate.getLangs()" [value]="language"
                          [selected]="language === translate.currentLang" >
                          {{ language }}
                        </option>
                      </select>
                    </span>
           
                <a class="btn head" style="color: white;
                margin-right: 2px;text-transform: capitalize;">
                     &nbsp;Hello : <strong>{{authService.userData().name}} </strong></a> 
                <div class="profilWrap p-mr-4 p-mt-2" (clickOutside)="lbluserProfleShow=false">
                <p-avatar icon="pi pi-user" (click)="fnToggleUProfile()" *ngIf="authService.loggedIn()"></p-avatar> 
                <ul class="dropdownMenu" *ngIf="lbluserProfleShow">
                    <li class="dropdownHeader">Account</li>
                    <li (click)="fnhidedd()"><a class="profilWrap" routerLink="/hotel-admin" ><i></i>Profile</a></li>
                    <li (click)="fnhidedd()"><a routerLink="/billingcategory">Billing Category</a></li>
                    <li (click)="fnhidedd()"><a routerLink="/setting">Setting</a></li>
                   <li (click)="fnhidedd()"><a routerLink="/language">Language</a></li>
                   <li (click)="fnhidedd()"><a routerLink="/help">Help</a></li>
                    <li (click)="fnhidedd()"><a  routerLink="/updatepassword">Change Password</a></li>

                    <li><a (click)="fnLogout()">Logout</a></li>
                    
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>