<div *ngIf="cartItems?.orderitems.length > 0">
    <ul class="ulCart">
        <li class="cart-item p-mt-2" *ngFor="let item of cartItems.orderitems">
            <span>{{ item.name }} <span>{{item.isFull ? '' : '(Half)'}}</span></span>
            <span class="btnPlusMinusWrap">
                <!-- <i class="pi pi-minus"></i>  -->
                <button pButton type="button" icon="pi pi-minus" (click)="removeItem(item)"
                    class="p-button-secondary p-button-sm p-button-text-only p-button-text" iconPos="left"></button>

                <span class="quantity text-success">{{item.quantity}} </span>
                <!-- <i class="pi pi-plus text-success"></i> -->
                <button pButton type="button" icon="pi pi-plus" (click)="addItem(item)"
                    class="p-button-success p-button-sm p-button-text-only p-button-text" iconPos="left"></button>

            </span>

            <span>{{ item.quantity * item.price | currency:'INR':true }}</span>
        </li>
        <li>
            <div class="p-d-flex p-jc-between p-m-0"><span>GST</span> {{cartItems.gstTotal | currency:'INR': true}}
            </div>
            <div class="p-flex-md-row">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-7">
                        <span >
                            Discount in %
                        </span>
                    </div>
                    <div class="p-field p-col-5">
                        <p-inputNumber class="p-inputtext-sm fullWidth" name="discount" id="discount" prefix="%" mode="decimal"
                            [useGrouping]="false" [(ngModel)]="cartItems.discountInPercent" [minFractionDigits]="2"
                            (blur)="fnDiscountCal($event.target.value)">
                        </p-inputNumber>
                    </div>
                </div>
                    <!-- <div style="font-size:small p-my-2">Discount in &#8377;</div> -->
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-7">
                    <span >Additional amount</span> 
                    </div>
                    <div class="p-field p-col-5">
                        <!-- <p-inputNumber class="p-inputtext-sm" mode="currency"
                             currency="INR" locale="en-IN" (blur)="fnAdditionalAmount($event)">
                        </p-inputNumber> -->
                    <input type="number" [(ngModel)]="cartItems.additionalAmount" name="addAmount" currency="INR" locale="en-IN" 
                     class="p-inputtext-sm" pInputText id="addAmount" (blur)="fnAdditionalAmount($event)"/>

                    </div>
                </div>
            </div>
            
            <div class="p-d-flex p-jc-between gTotP"><span> Total</span>{{cartItems.grossTotal | currency:'INR':true}}
            </div>
        </li>
        
    </ul> 
    <div class="btnWrap p-mb-1">
        <button pButton type="button" label="KOT Print"
            (click)="fnKOTPrint($event)" class="p-button-sm p-button-info p-p-1"></button>            
            <button pButton type="button" label="Bill Print"
            (click)="fnBillPrint($event)" class="p-button-sm p-button-info p-p-1"></button>
            <button [disabled]="userData.userType === 3" pButton type="button" label="Make Payment"
            (click)="fnMakePayment($event)" class="p-button-sm p-button-success p-p-1"></button>
            <button pButton type="button" label="Empty Carts" (click)="emptyCart()"
            class="p-button-sm p-button-danger p-p-1"></button>
    </div>

</div>

<p *ngIf="cartItems?.orderitems.length == 0">Order some yummy and delicious food from menu!</p>