@media all and (max-width:320px){


    :host ::ng-deep {
    .rc-anchor-normal-footer{
        margin-top: 10px!important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        margin: 2px -70px 0 0 !important;
    }
    .rc-anchor-logo-portrait {
        margin :0%!important;
    }
    .rc-anchor-normal .rc-anchor-content {
        height: 74px;
        width: 142px!important;
    }
    .rc-anchor-normal .rc-anchor-checkbox-label {
        width: none!important;
    }
}

}