<ng-container *ngIf="printType === 'KOTPrintUI'">

  <div *ngIf="orderData">
    <p class="orderNumber p-my-1">Order ID: <strong>{{orderId}}</strong> | <ng-container
        *ngIf="orderData.deliveryMode==='Dining'">Table names: <strong>{{ tableNames}}</strong> |</ng-container> User
      ID: <strong>{{ orderData.userId}}</strong> Delivery Mode: <strong>{{ orderData.deliveryMode}}</strong></p>
    <h4 class="p-m-0">Order Items:</h4>
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Name</th>
          <th class="p-text-right">Qty</th>
        </tr>
      </thead>

      <tbody *ngFor="let item of orderData.orderItems">
        <tr *ngIf="!item.kotPrinted">
          <td>
            {{ item.name }}{{item.isFull ? '' : ' (Half)'}}
          </td>
          <td class="p-text-right">
            {{ item.quantity }}
          </td>
        </tr>
      </tbody>

      <tfoot>
        <!-- <tr class="dashedBorderT">
        <td class="p-text-right dashedBorderT">Bill Total: </td>
        <td class="p-text-right dashedBorderT"><strong>{{orderTotal}}</strong></td>
    </tr> -->
      </tfoot>
    </table>
  </div>

</ng-container>

<ng-container *ngIf="printType === 'BillPrintUI'">
  <table class="tblInvoice">
    <thead class="p-text-center" >
      <strong >Invoice</strong>
    </thead>

   
 
 
  
    <tr>
        <td> 
         
          <div class="p-col p-py-0" style="font-size: 10px;display: flex;align-content: center;justify-content:space-between;">
            <strong>Invoice No:</strong>
            <b style="margin-right:20px;"> {{myDate | date:'MMdd'}}</b> <img width="20px"
             class="p-text-right" style="margin-left:41px;" height="15px" *ngIf="adminData?.restaurentLogo" [src]="adminData.restaurentLogo"
              alt=""></div> 
              <div class="p-col p-py-0" style="font-size: 10px;"> <strong>Date: </strong> {{myDate | date:'MM/dd/yyyy'}}  <strong style="margin-left: 20px;">Time: </strong>{{todaysDataTime}}</div>
          <div class="p-col p-py-0" style="font-size: 10px;"><strong>Delivery Mode: </strong>{{ orderData.deliveryMode}} </div>  
          <div class="p-col p-py-0" style="font-size: 10px;"><strong>Name: </strong>{{adminData?.businessName}}</div>       
            <div class="p-col p-py-0" style="font-size: 10px;"><strong>Address: </strong>{{adminData?.address}}</div>
            <div class="p-col p-py-0" style="font-size: 10px;"><strong>City: </strong>{{adminData?.city}} <strong>State: </strong>{{adminData?.state}} </div>
           
            <div class="p-col p-py-0" style="font-size: 10px;"><strong>GSTIN No: </strong>{{adminData?.gst}}</div>
           
            
        </td>
     
        </tr></table>
        <table class="tblInvoice">
          <tr>
            <td>
              <div class="p-col p-py-0" style="font-size:10px;">
                <strong>Customer <br>
                 Name/Number: <span style="text-transform: capitalize;">{{userdata}}</span> </strong></div>
            </td>
          </tr>
        </table>
        
        
  <table class="tblInvoice" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th style="width:10%;font-size: 10px;">#</th>
        <th style="width:40%;font-size: 10px;">Products</th>
        <th style="width:10%;font-size: 10px;">Qty</th>
        <th class="p-text-right" style="font-size: 10px;">Rate</th> 
        <th class="p-text-right" style="font-size: 10px;">Value</th> 
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let item of orderData.orderItems; let i = index;">
        <td style="width:10%;font-size: 10px;">{{i+1}}</td>
        <td style="width:40%;font-size: 10px;">{{item.name}} {{item.isFull ? '' : ' (Half)'}}</td>
        <td style="width:10%;font-size: 10px;">{{item.quantity}}</td>
        <td class="p-text-right" style="font-size: 10px;">{{item.price}}</td>
        <td class="p-text-right" style="font-size: 10px;">{{item.price * item.quantity}}</td>
         
      </tr>
      <tr>
        <td colspan="2" style="font-size: 10px;" class="text-right b-dashed b-top"><strong>Total</strong></td>
        <td class="b-dashed b-top" style="font-size: 10px;"><strong>{{orderData.itemCount}}</strong></td>
      
         <td colspan="2" style="font-size: 10px;" class="p-text-right b-dashed b-top"><strong>{{orderData.itemTotal | currency :'INR'}}</strong></td>
      </tr>
      <tr *ngIf="orderData.discountInRupees">
        <td colspan="4" style="font-size: 10px;" class="p-text-center ">Discount price </td>
        <td class="p-text-right">{{orderData.discountInRupees | currency :'INR'}}</td>
      </tr>
      <tr *ngIf="orderData.additionalAmount">
        <td colspan="4" style="font-size: 10px;" class="p-text-center">AdditionalAmount</td>
        <td class="p-text-right">{{orderData.additionalAmount | currency :'INR'}}</td>
      </tr>
      <tr>
        <td colspan="4" style="font-size: 10px;" class="p-text-center">CGST %</td>
        <td class="p-text-right">{{orderData.gstTotal /2 | currency :'INR'}}</td>
      </tr>
      <tr>
        <td colspan="4" style="font-size: 10px;" class="p-text-center">SGST %</td>
        <td class="p-text-right">{{orderData.gstTotal /2 | currency :'INR'}}</td>
      </tr>
      <tr>
        <td style="font-size: 10px;" colspan="4" class="b-top p-text-center p-text-bold b-dashed">Total Amount</td>
        <td style="font-size: 10px;" class="b-top p-text-bold p-text-center b-dashed">{{orderData.grossTotal | currency :'INR'}}</td>
      </tr>
      <tr>
        <td colspan="2" style="font-size: 10px;" class="b-top p-text-center p-text-bold b-dashed">
          
         <img [src]="adminData.signature" *ngIf="adminData.signature" height="30px" width="50px">
       
         </td>
        <td colspan="4" style="font-size:5px;" class="b-top p-text-left b-dashed">
         
         This is an electronically generated purchase bill <br>
        <strong>Terms & Condition</strong>  <br>
         {{adminData.termAndCondition}}
          
        </td>
        

      </tr>
      <tr>
        <td class="p-text-center" colspan="5">
          <p class="">!! Thank You, Visit Again!!</p>

        </td>
      </tr>

    </tbody>
  </table>
</ng-container>