<div class="p-card">
    <div class="card-header">
        <p-toolbar class="pToolbar">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText class="search" type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search by Name" /> <!--(input)="dt.filterGlobal($event.target.value, 'contains')"-->
                    </span>
                </div>
                <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedCategories()" pTooltip="Delete categories"></button> -->
            </ng-template>
        </p-toolbar>
</div>
<div class="card-body">
    <!-- <p-table  #dt [value]="f"  styleClass="p-datatable-customcss" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"  [globalFilterFields]="['name','seat']"> -->
        <p-table responsiveLayout="stack" [value]="franchise" responsiveLayout="stack" styleClass="p-datatable-customcss" [paginator]="true"
        [rows]="10" [showCurrentPageReport]="true" [loading]="loading"  [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" [scrollable]="true" [rows]="100" scrollHeight="250px"
        [virtualScroll]="true" [virtualRowHeight]="40">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th>{{'Username'| translate}}
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </th>
                <th>{{'Password' | translate}}
                    <p-columnFilter type="text" field="gstCompliance" display="menu"></p-columnFilter>
                </th>
                <th>{{'Mobile No' | translate}}
                    <p-columnFilter type="text" field="statuses" display="menu"></p-columnFilter>
                </th>
                <th>{{'Email' | translate}} </th>
                <th>Location</th>
        </ng-template>
         <ng-template pTemplate="body" class="text-center" let-data>
      <tr>
        <!-- <td>
            <span *ngIf="data.userName !== auth.userData().name && data.userName !== auth.userData().username">{{data.userName}}</span>
            <span *ngIf="data.userName==auth.userData().name || data.userName==auth.userData().username">-</span>
        </td> -->
        <!-- <span *ngIf="data.userName">{{data.userName}}</span>
          <span *ngIf="!data.userName">-</span>
          </td> -->
          
          <td>
            <span *ngIf="data.userName"> {{data.userName}}</span>
            <span *ngIf="!data.userName">-</span>
        </td> <td>
            <span *ngIf="data.password"> {{data.password}}</span>
            <span *ngIf="!data.password">-</span>
        </td> <td>
            <span *ngIf="data.contact"> {{data.contact}}</span>
            <span *ngIf="!data.contact">-</span>
        </td> <td>
            <span *ngIf="data.email"> {{data.email}}</span>
            <span *ngIf="!data.email">-</span>
        </td> <td>
            <span *ngIf="data.city"> {{data.city}}</span>
            <span *ngIf="!data.city">-</span>
        </td>
            <!-- <tr>
                <td>
                    <span>
                        {{item.userName}}
                    </span>
                </td>
                <td> 
                    <span>
                        {{item.password}}
                    </span>
                </td> 
                <td> 
                    <span>
                        {{item..cityId}}
                    </span>
                </td>
                <td>
                    <span>
                        {{item.email}}
                    </span>
                </td>
                <td>
                    <span>
                        {{item.city}}
                    </span>
                </td>
            </tr> -->
        </ng-template>
        <ng-template pTemplate="emptymessage" >
            <tr>
                <td colspan="6" class="p-text-center">
                   <span>{{'No records found' | translate}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-toast position="bottom-right"></p-toast>
</div>

<p-dialog [(visible)]="modal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" header="{{'Add Franchise' | translate}}" [modal]="true">
    <ng-template pTemplate="content">
        <form  name="franchForm" #franchForm="ngForm" novalidate="" (ngSubmit)="savefranchData(franchForm)">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field col-6">
                    <label for="userName">Bussiness Username</label>
                    <input #userName="ngModel" [(ngModel)]="franch.userName" type="text" name="userName" class="p-inputtext-sm" pInputText id="userName"
                        placeholder="Bussiness Username" required autofocus  />
                        <div *ngIf="userName.touched && userName.invalid && franchForm.submitted"> <small class="p-error" *ngIf="userName.errors.required">User Name is required.</small></div>
                </div>
                <div class="p-field col-6">
                    <label for="password">Password</label>
                    <input type="password" #password="ngModel" [(ngModel)]="franch.password" name="password" class="p-inputtext-sm" pInputText id="password"
                         placeholder="password" required autofocus /> 
                         <div *ngIf="password.touched && password.invalid && franchForm.submitted"> <small class="p-error" *ngIf="password.errors.required">Password is required.</small></div>
                       
                </div>
                <div class="p-field col-6">
                    <label for="contact">Bussiness Contact</label>
                    <input pInputText #contact="ngModel" [(ngModel)]="franch.contact" name="contact" maxlength="10"
                        inputId="contact" placeholder="Bussiness Number" id="contact" required autofocus/> 
                        <label for="name">Bussiness Name</label>
                        <input pInputText #name="ngModel" [(ngModel)]="franch.name" name="name"
                        inputId="cityId" placeholder="Bussiness Name" id="name" required autofocus  type="text"/> 
                        <!-- <div *ngIf="cityId.touched && cityId.invalid && franchForm.submitted"> <small class="p-error" *ngIf="cityId.errors.required">Number is required.</small></div> -->
                </div>
                <div class="p-field col-6">
                    <label for="email"> Bussiness Email</label>
                    <input pInputText #email="ngModel" [(ngModel)]="franch.email" name="email" type="email" id="email" 
                        placeholder="Bussiness Email" required autofocus/>
                        <label for="state">Pincode</label>
                    <input pInputText #pinCode="ngModel" [(ngModel)]="franch.pinCode" name="pinCode" id="pinCode" 
                    placeholder="Pincode" maxlength="6" />
                        <!-- <div *ngIf="email.touched && email.invalid && franchForm.submitted"> <small class="p-error" *ngIf="email.errors.required">Number is required.</small></div> -->
                </div>
                 <div class="p-field col-12 p-md-6">
                    <label for="email">Food License Number</label>
                    <input pInputText #foodLincNum="ngModel" [(ngModel)]="franch.foodLincNum" name="foodLincNum" id="foodLincNum" 
                        placeholder="Food License Number" />
                        <!-- <div *ngIf="foodLincNum.touched && foodLincNum.invalid && franchForm.submitted"> <small class="p-error" *ngIf="foodLincNum.errors.required">Food Lincence Number is required.</small></div> -->
                        <label for="GSTNumber">{{'GST Number' | translate}}</label>
                    <input type="text" #gst="ngModel" [(ngModel)]="franch.gst" name="gst" id="gst" placeholder="GST Number" pInputText />
                    <!-- <div *ngIf="gst.touched && gst.invalid && franchForm.submitted"> <small class="p-error" *ngIf="gst.errors.required">Gst is required.</small></div> -->
                </div> 
                <div class="p-field col-12 p-md-6">
                    <label for="state">State</label>
                   
                    <p-dropdown #state="ngModel" inputId="state" name="state" id="state" [options]="states" [(ngModel)]="franch.state" placeholder="Select" optionLabel="label" optionValue="label"></p-dropdown>
                    <!-- <div *ngIf="state.touched && state.invalid && franchForm.submitted"> <small class="p-error" *ngIf="state.errors.required">State is required.</small></div> -->
                    <label for="city">City</label>
                    <p-dropdown #city="ngModel" inputId="city" name="city" id="city" [(ngModel)]="franch.city" [options]="cities" placeholder="Select City" optionLabel="name" optionValue="label"></p-dropdown>
                    <!-- <div *ngIf="city.touched && city.invalid && franchForm.submitted"> <small class="p-error" *ngIf="city.errors.required">City is required.</small></div> -->
                </div> 
                <div class="p-field col-12 p-md-4">
                    <label for="state">Pincode</label>
                    <input pInputText #pinCode="ngModel" [(ngModel)]="franch.pinCode" name="pinCode" id="pinCode" 
                    placeholder="Pincode" maxlength="6" />
                    <!-- <div *ngIf="pinCode.touched && pinCode.invalid && franchForm.submitted"> <small class="p-error" *ngIf="pinCode.errors.required">Pincode is required.</small></div> -->
                </div>
                 <div class="p-field col-12 p-md-8">
                   <label for="Address">Address</label>
                   <textarea #address="ngModel" [(ngModel)]="franch.address" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                   <!-- <div *ngIf="address.touched && address.invalid && franchForm.submitted"> <small class="p-error" *ngIf="address.errors.required">Address is required.</small></div> -->
                </div>
                
   </div>

            <div class="p-d-flex justify-content-center">
                <button pButton pRipple label="{{'Save' | translate}}" icon="pi pi-check" [disabled]="!franchForm.valid"  class="p-button p-button-raised p-mx-1 p-mr-2"></button>
                <button pButton pRipple label="{{'Reset' | translate}}" type="reset" icon="pi pi-times" class="p-button-danger p-button-raised" ></button> <!--(click)="hideDialog()"-->
            </div>
      
        </form>
    </ng-template>
</p-dialog>



    </div>