<p-accordion [multiple]="true">
    <p-accordionTab header="{{'Profile' | translate}}">
        <div class="form-group">
            <form [formGroup]="form" >
        <div class="grid">
                
            <div class="col-12 md:col-6 lg:col-4">
                <div class="p-inputgroup p-mb-4">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password" pInputText name="Old Password" class="form-control" placeholder="Old Password"
                    formControlName="oldpwsd" tooltipPosition="bottom" id="passwordd" pTooltip="Should Match to Old Password" type="password" required>
                </div> 
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="p-inputgroup p-mb-4">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password" pInputText name="NewPassword" class="form-control" placeholder="New Password"
                autocomplete="current-password" tooltipPosition="right" formControlName="newpassword" id="password" type="password" pTooltip="Should Match to Confirm Password" required>
        
                  </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="p-inputgroup p-mb-4">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password" tooltipPosition="right" pInputText name="ConfirmPassword" formControlName="confirm_password" pTooltip="Should Match to New Password" id="confirm_password" type="password"
                    class="form-control" placeholder="Confirm Password" autocomplete="current-password" required>
        
                  </div>
            </div>
        
    </div>
</form>
<div class="grid">
    <div class="col-12 p-text-center">

            <p-button (click)="updatingpass()" type="submit"  class="p-button-text" 
            [disabled]="!form.valid" label="Change Password" ></p-button>
        </div>
        </div>
        </div>
    </p-accordionTab>

    <p-accordionTab header="{{'Theme' | translate}}">
        <div class="grid">
            <div class="col-12 p-text-center">
                <span class="float right" >
                    <label  for="want">{{'Light' | translate}}</label>
                    <p-inputSwitch [(ngModel)]="setting.theme" name="want" class="p-mx-2"></p-inputSwitch>
                    <label  for="want">{{'Dark' | translate}}</label>
                </span>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="{{'Menu Display' | translate}}">
        <div class="grid">
            <div class="col-6">
                <span class="float left">
                    <label >{{'Menu Display Card With Images?' | translate}}</label>
                </span>
            </div>
            <div class="col-6 p-text-center">
                <span class="float right">
                    <label  for="want">{{'No' | translate}} </label>
                    <p-inputSwitch [(ngModel)]="setting.menuDisplay" name="want" class="p-mx-2"></p-inputSwitch>
                    <label  for="want">{{'Yes' | translate}}</label>
                </span>
            </div>
        </div>
      
    </p-accordionTab>
    <p-accordionTab header="{{'Invoice' | translate}}">
        <div class="grid">
            <div class="col-6">
                <span class="float left">
                    <label>{{'Invoice Bill generate with GST?' | translate}}</label>
                </span>
            </div>
            <div class="col-6 p-text-center">
                <span class="float right">
                    <label  for="want">{{'No' | translate}} </label>
                    <p-inputSwitch [(ngModel)]="setting.billWithGST" name="want" class="p-mx-2"></p-inputSwitch>
                    <label  for="want">{{'Yes' | translate}}</label>
                </span>
            </div>
        </div>
        
        <div>
            <div class="grid">
                <div class="col-6 ">
                    <span class="float left">
                        <label>{{'Invoice Bill generate with Customer?' | translate}}</label>
                    </span>
                </div>
                <div class="col-6 p-text-center">
                    <span class="float right">
                        <label  for="want">{{'No' | translate}}</label>
                        <p-inputSwitch [(ngModel)]="setting.billWithCustomer"  name="want" class="p-mx-2"></p-inputSwitch>
                        <label  for="want">{{'Yes' | translate}}</label>
                    </span>
                </div>
            </div>
        </div>
<div class="grid">
    <div class="col-6">
        <span class="float left">
            <label>{{'Invoice Bill generate with Restaurant logo?' | translate}}</label>
        </span>
    </div>
    <div class="col-6 p-text-center">
        <span class="float right">
            <label  for="want">{{'No' | translate}} </label>
            <p-inputSwitch [(ngModel)]="setting.billWithLOGO"  name="want" class="p-mx-2"></p-inputSwitch>
            <label  for="want">{{'Yes' | translate}}</label>
        </span>
    </div>
</div>
        <div>
            <div class="grid">
                <div class="col-6">
                    <span class="float left">
                        <label>{{'Invoice Bill generate with Seal?' | translate}}</label>
                    </span>
                </div>
                <div class="col-6 p-text-center">
                    <span class="float right">
                        <label  for="want">{{'No' | translate}} </label>
                        <p-inputSwitch  [(ngModel)]="setting.billWithSeal"  name="want" class="p-mx-2"></p-inputSwitch>
                        <label  for="want">{{'Yes' | translate}}</label>
                    </span>
                </div>
                
            </div>
        </div>
        <div>
            <div class="grid">
                <div class="col-6">
                    <span class="float left">
                        <label>{{'Invoice Bill generate with Sign?' | translate}}</label>
                    </span>
                </div>
                <div class="col-6 p-text-center">
                        
        <span class="float right">
            <label  for="want">{{'No' | translate}} </label>
            <p-inputSwitch [(ngModel)]="setting.billWithSign" class="p-mx-2"  name="want"></p-inputSwitch>
            <label  for="want">{{'Yes' | translate}}</label>
        </span>
                </div>
              
            </div>
        
        </div>
    </p-accordionTab>
    <p-accordionTab header="{{'Order Status' | translate}}">
        <div class="grid">
            <div class="col-6">
                <span class="float left">
                    <label>{{'Do you want to active order list flow?' | translate}}</label>
                </span>
            </div>
            <div class="col-6 p-text-center">
                <span class="float right">
                    <label  for="want">{{'No' | translate}} </label>
                    <p-inputSwitch class="p-mx-2" name="want"></p-inputSwitch>
                    <label  for="want">{{'Yes' | translate}}</label>
                </span>
            </div>
        </div>
      
    </p-accordionTab>
    <p-accordionTab header="{{'Printer Setting' | translate}}">
        <div class="grid">
            <div class="col-6">
                <span class="float left">
                    <label>{{'Configuration of Printer Setup' | translate}}</label>
                </span>
            </div>
            <div class="col-6 p-text-center">
                <span class="float right">
                    <button pButton type="button" label="Print"></button>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-6">
                <span class="float left">
                    <label> {{'Do you want direct KOT / Bill print without Pop up?' | translate}}</label>
                </span>
            </div>
            <div class="col-6 p-text-center">
                <span class="float right">
                    <label for="want">{{'No' | translate}} </label>
                    <p-inputSwitch class="p-mx-2" name="want"></p-inputSwitch>
                    <label for="want">{{'Yes' | translate}}</label>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-6">
                <span class="float left">
                    <label>{{'Do you want both KOT / Bill print at same time.?' | translate}}</label>
                </span>
            </div>
            <div class="col-6 p-text-center">
                <span class="float right">
                    <label  for="want">{{'No' | translate}}</label>
                    <p-inputSwitch class="p-mx-2"  name="want"></p-inputSwitch>
                    <label  for="want">{{'Yes' | translate}}</label>
                </span>
            </div>
        </div>
      
    </p-accordionTab>
    <p-accordionTab header="{{'Language' | translate}}">
        <div class="grid">
            <div class="col-6 p-text-center"  for="want">

                <p-dropdown [options]="langa" [(ngModel)]="setting.language" 
                (onChange)="onChange($event)" optionLabel="name"
                 optionValue="name" name="want"></p-dropdown>
                
                <!-- <button for="want" pButton type="button" 
                (click)="savelang()" label="Save"></button> -->
            </div>
        </div>
      
      
    </p-accordionTab>


    

</p-accordion>

<div class="grid">
    <div class="col-12 p-text-center mt-2">
<button pButton type="button" (click)="saveSettings()" label="Submit"></button>
    </div>
</div>