<p-toast position="bottom-right"></p-toast>
<div class="p-card p-mb-5">
    <div class="p-card-body">
        <form name="aForm" #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
            <div class="p-card-title">{{'Business Information' | translate}}</div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label for="businessName"><b>{{'Business Name' | translate}}</b></label>
                    <input type="text" name="businessName" class="p-inputtext-sm" pInputText id="businessName" [(ngModel)]="admin.businessName" placeholder="Business Name" #bName="ngModel" required autofocus />
                    <div *ngIf="bName.touched && bName.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="bName.errors.required">Business name is required.</small> </div>
                </div>
                <div class="p-field p-col-12 p-md-6">

                    <label for="email"><b > {{'Email' | translate}}  </b></label>

                    <input type="email" name="email" class="p-inputtext-sm" pInputText id="email" [(ngModel)]="admin.email" placeholder="Email" #email="ngModel" required autofocus />
                    <div *ngIf="email.touched && email.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="email.errors.required">Email name is required.</small> </div>
                </div>
                <div class="p-field p-col-12 p-md-8">
                    <label for="inventoryStatus"><b>{{'Business Category' | translate}}</b></label>
                    <p-dropdown [(ngModel)]="admin.categoryId" class="p-inputtext-sm" name="category" inputId="categories" [options]="categories" required #category="ngModel" optionLabel="label" optionValue="value" placeholder="Select Category">
                    </p-dropdown>
                    <div *ngIf="category.touched && category.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="category.errors.required">Business category is required.</small> </div>
                </div>
                <div class="p-field p-col-8 p-md-6">
                    <label for="foodClass"><b>{{'Food License Number' | translate}}</b></label>
                    <input type="text" id="foodLincNum" name="foodLincNum" #foodLicnNum="ngModel" [(ngModel)]="admin.foodLincNum" placeholder="Food Class" pInputText required/>
                    <div *ngIf="foodLicnNum.touched && foodLicnNum.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="foodLicnNum.errors.required">Food License Number is required.</small> </div>
                    <label for="GSTNumber"><b>{{'GST Number' | translate}}</b></label>
                    <input type="text" id="GSTNumber" name="gst" #gst="ngModel" [(ngModel)]="admin.gst" placeholder="GST Number" pInputText required/>
                    <div *ngIf="gst.touched && gst.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="gst.errors.required">GST Number is required.</small> </div>
                </div>
                <div class="p-field p-col-7 p-md-6">
                    <label for="state"><b>{{'State' | translate}}</b></label>
                    <p-dropdown (onChange)="onStateChange()" inputId="state" name="state" [options]="states" [(ngModel)]="admin.stateId" placeholder="Select" optionLabel="label" optionValue="value"></p-dropdown>
                    <label for="city"><b>{{'City' | translate}}</b></label>
                    <p-dropdown inputId="cityFilter" name="city" [options]="cityFilter" [(ngModel)]="admin.cityId" placeholder="Select" optionLabel="name" optionValue="id">
                    </p-dropdown>
                </div>
                <div class="p-field p-col-5 p-md-4">
                    <label class="labeltext" for="pincode"><b>{{'Pincode' | translate}}</b></label>
                    <input type="text" id="pincode" name="pincode" #pincode="ngModel" [(ngModel)]="admin.pinCode" placeholder="Pincode" minlength="6" maxlength="6" pInputText />
                    <div *ngIf="pincode.touched && pincode.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="pincode.errors.minlength">Minimum 6 digit required.</small> </div>
                    <label class="contlbl" for="contact"><b>{{'Contact' | translate}}</b></label>
                    <input type="text" id="contact" name="contact" #contact="ngModel" [(ngModel)]="admin.contact" placeholder="Contact" maxlength="10" pInputText />
                    <div *ngIf="contact.touched && contact.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="contact.errors.minlength">Minimum 10 digit required.</small> </div>
                </div>
                <div class="p-field p-col-12 p-md-8">
                    <label for="address"><b>{{'Address' | translate}}</b></label>
                    <textarea id="address" name="address" type="text" [(ngModel)]="admin.address" rows="5" pInputTextarea></textarea>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <label for="terms"><b>{{'Terms & Conditoins' | translate}}</b></label>
                    <textarea id="terms" name="termAndCondition" type="text" [(ngModel)]="admin.termAndCondition" rows="4" pInputTextarea></textarea>
                </div>
            </div>
            <div class="p-card-title">{{'Bank Information' | translate}}</div>
            <div class="p-card-subtitle">{{'Enter bank details' | translate}}</div>
            <div class="p-fluid p-formgrid p-grid" ngModelGroup="bankDetails" #bDetails="ngModelGroup">
                <div class="p-field p-col-12 p-md-6">
                    <label for="accountName"><b>{{'Account Name' | translate}}</b></label>
                    <input id="accountName" name="accountName" class="p-inputtext-sm" #accName="ngModel" [(ngModel)]="admin.accountName" placeholder="Account Name" pInputText />
                    <!-- <div *ngIf="accName.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="accName.errors.required">Account Name is required.</small> </div> -->

                </div>

                <div class="p-field p-col-12 p-md-6">
                    <label for="accountNumber"><b>{{'Account Number' | translate}}</b></label>
                    <input type="text" id="accountNumber" pInputText #accNum="ngModel" name="accountNumber" class="p-inputtext-sm" [(ngModel)]="admin.accountNumber" placeholder="Account Number">
                    <!-- <div *ngIf="accNum.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="accNum.errors.required">Account Number is required.</small> </div> -->

                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="bankName"><b>{{'Bank Name' | translate}}</b></label>
                    <input type="text" id="bankName" name="bankName" class="p-inputtext-sm" #bankName="ngModel" [(ngModel)]="admin.bankName" placeholder="Bank Name" pInputText />
                    <!-- <div *ngIf="bankName.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="bankName.errors.required">Business category is required.</small> </div> -->

                </div>
                <div class="p-field p-col-6 p-md-3">
                    <label for="ifscCode"><b>{{'IFCS Code' | translate}}</b></label>
                    <input type="text" id="ifscCode" name="ifscCode" #ifcsCode="ngModel" class="p-inputtext-sm" [(ngModel)]="admin.ifscCode" placeholder="IFCS Code" pInputText />
                    <!-- <div *ngIf="ifscCode.invalid && f.submitted"> <small class="p-error p-error-danger" *ngIf="ifscCode.errors.required">IFSC code is required.</small> </div> -->
                </div>
                <div class="p-field p-col-6 p-md-3">
                    <label for="UPICodeNumber"><b>{{'UPI Code(Number)' | translate}}</b></label>
                    <input type="text" id="UPICodeNumber" name="UPICodeNumber" class="p-inputtext-sm" [(ngModel)]="admin.codeNumber" placeholder="UPI Code" pInputText />
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="files"><b>{{'Upload restaurents Logo' | translate}}</b></label>
                    <input name="restaurentLogo" [(ngModel)]="admin.restaurentLogo" (change)="logoFile($event)" class="p-inputtext-sm" pInputText type="file">
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="files"><b>{{'Upload Owners Signature' | translate}}</b></label>
                    <input name="signature" [(ngModel)]="admin.signature" (change)="signFile($event)" class="p-inputtext-sm" pInputText type="file">
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="files"><b>{{'Upload Restaurents Seal' | translate}}</b></label>
                    <input name="restaurentSeal" [(ngModel)]="admin.restaurentSeal" (change)="sealFile($event)" class="p-inputtext-sm" pInputText type="file">
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="files"><b>{{'Upload UPI Scan Image' | translate}}</b></label>
                    <input name="files" [(ngModel)]="admin.UPICodeImg" (change)="upiFile($event)" class="p-inputtext-sm" pInputText type="file">
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="logo"><b>{{'Logo' | translate}}</b></label>
                    <img [src]="admin.restaurentLogo" alt="Logo" id="logo" width="70px" height="70px">
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="sign"><b>{{'Sign' | translate}}</b></label>
                    <img [src]="admin.signature" alt="Sign" id="sign" width="70px" height="70px">
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="seal"><b>{{'Seal' | translate}}</b></label>
                    <img [src]="admin.restaurentSeal" alt="Seal" id="seal" width="70px" height="70px">
                </div>
                <div class="p-field p-col-6 p-md-3" >
                    <label for="upi"><b>{{'UPI' | translate}}</b></label>
                    <img [src]="admin.upiImage" alt="UPI" id="upi" width="70px" height="70px">
                </div>
            </div>
            <div class="p-text-center">
                <button pButton pRipple label="{{'Save' | translate}}" icon="pi pi-check" class="p-button p-button-raised p-mr-2 "></button>
                <button pButton pRipple label="{{'Cancel' | translate}}" icon="pi pi-times" class="p-button-danger p-button-raised" type="reset" (click)="hideDialog()"></button>
            </div>
        </form>
    </div>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>