.heads{
    text-align: right;
}
@media screen and (max-width: 320px){
    .line{
        flex: 1rem !important;
        padding: 0.5rem;
    }
    .text-6xl {
        font-size: 1.4rem !important;
    }
}
@media screen and (min-width:425px){
    .repeatheads1{
        width: 71.6667%!important;
    }
    .repeatheads2{
width: 28.3333%;
    }
}
@media screen and (max-width: 425px) {
    .foodhead{
        font-size: 1rem !important;
    }
    .heads{
        text-align: center!important;
        font-size: 1rem !important;
    }
    .p-paginator-page {
        background-color: #fff;
        border: 1px solid #dee2e6;
        color: #007bff;
        min-width: 1.357rem;
        height: 1.357rem;
        margin: 0 0 0 -1px;
    }
    
 
    .p-grid{
        margin-top: 5px !important;
        padding: 10px;

     overflow: scroll;
    }
    :host ::ng-deep {
        .p-button.p-button-icon-only{
            height: 1.667rem;
            width: 1.667rem;
        }
        .p-button.p-button-icon-only.p-button-rounded {
         border-radius: 50%;
         height: 1.5rem !important;
         width: 1.5rem !important;
     }
        .p-button{
            padding: 0.3rem;
            font-size: 0.75rem;
        }
        .pi{
            font-size: 0.75rem;
        }
    .p-datatable-customcss {
        table {
           
            .p-datatable-thead > tr > th,
            .p-datatable-tfoot > tr > td {
                display: none !important;
            }
            tr{
        display: flex;
        flex-wrap: wrap;
        margin: 5px 0;
        background: #f9f9f9;
        border-radius: 2px;
        justify-content: space-between;
                td{
                   
                    padding:0.3rem !important;
                    border:0;
                  
                    .p-tag-value{
                        font-size: 0.625rem;
                        padding: 0;
                        line-height: 12px;
                    }
                    .p-column-title {
                         display: inline-block !important; 
                         margin-right: 5px;
                         color:#222b94;
                                                }
                }
                td:nth-child(2) {
                    font-size: .9rem;
                    font-weight: 600;
                    width: 33.3334%;
                }
                
             //    td:first-child{
             //        display: none;
             //    }
               
            }
    }
   
}
    }
 }