<div class="p-grid p-mt-5">
    <div class="p-card p-col-12 p-md-6 p-mx-auto p-px-3">
        
        <div class="p-text-center"><img src="assets/img/brand/logo.jpg" class="logo" width="60" alt="FY5 Company" /> </div>
        <h1 class="p-text-center p-my-1">{{' Product License' | translate }}  </h1>
        <div class="box">
         <p class="lead"><span>Product Name:</span> <span class="display-2 p-ml-2"> Restaurant Management System</span> </p>
         <p class="lead"><span>Version:</span> <span class="display-2 p-ml-2"> 1.0.0</span> </p>
         <p class="lead"><span>Company:</span> <span class="display-2 p-ml-2"> FY5 Software Private Limited</span> </p>   
    </div>
    <div class="card p-mt-3">
     <!-- <span>Product key: </span>    -->
     <div class="p-d-flex p-jc-evenly  p-ai-center">

    
        <label for="Labels">Product key</label>
        <input type="text"  [style]="{width: '3.5vw'}"  pInputText >
         <input type="text" [style]="{width: '3.5vw'}"  pInputText >
          <input  type="text" [style]="{width: '3.5vw'}"  pInputText >
         <input  type="text" [style]="{width: '3.5vw'}"   pInputText >
      
      
    </div>
    <div class="p-d-flex p-jc-between p-mt-3 p-ai-center">
    <button pButton pRipple label="Free " icon="pi pi-check" class="p-button-warning " pTooltip="Free"></button>
    <button pButton pRipple label="Exit " icon="pi pi-trash" class="p-button-danger " pTooltip="Exit"></button>
    <button pButton pRipple label="Activate " icon="pi pi-shield" class="p-button-info" pTooltip="Activate"></button>
    </div>
</div>
</div>
</div>